.tiles article.blog-post {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    opacity: 1;
    -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    margin-bottom: 3rem;
    min-width: 300px;
}

.tiles article.blog-post.filter-transition-out {
    transform: scale(0.9);
    opacity: 0;
}

.tiles article.blog-post.filter-transition-in {
    transform: scale(1);
    opacity: 1;
}

.tiles article.blog-post img {
    border-radius: 8px;
    width: 100%;
    height: 60%;
}

.tiles article.blog-post h2 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 0 0.25rem 0.5rem 1.25rem;
    text-transform: capitalize;
}

.tiles article.blog-post h3 {
    font-size: 1.0rem;
    line-height: 1.2rem;
    margin: 0 0.25rem 0.5rem 1.25rem;
    text-transform: capitalize;
}

.tiles article.blog-post p {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin: 0 1.25rem 0 1.25rem;
    text-align: justify;
}

.tiles article.blog-post ul {
    margin-bottom: 0.5rem;
}

.tiles article.blog-post a {
	all: unset;
    cursor: pointer;
}

.tiles article.blog-post .tag {
    display: inline-block;
    line-height: 1.75rem;
    text-transform: capitalize;
    font-size: 0.8rem;
    border-radius: 0.6rem;
    padding: 0 0.75rem 0 0.75rem;
    margin: 0 0.25rem 0 0.25rem;
    opacity: 0.85;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    transition: opacity .5s;
    background: linear-gradient(90deg, #DFA878 0%, #6C3428 167%);
}

.tiles article.blog-post .tag:hover {
    opacity: 1;
}

.tiles article.blog-post:hover {
    transform: scale(1.1);
}