.tiles article.event-box {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    opacity: 1;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, box-shadow 0.5s ease;
    height: 25rem;
    min-height: 20rem;
    min-width: calc(20rem * 0.72);
    overflow: hidden;
    margin-bottom: 3rem;
}

.tiles article.event-box img {
    border-radius: 8px;
    height: 70%;
    width: 100%;
    transition: height 0.5s ease-in-out, object-position 0.5s ease-in-out;
    object-fit: cover;
    object-position: 50% 50%;
}

.tiles article.event-box:hover img {
    height: 35%;
    width: 100%;
    object-position: 50% 50%;
}

.tiles article.event-box h2 {
    font-size: 1.0rem;
    line-height: 1.3rem;
    margin: 0 0.25rem 0.5rem 1.25rem;
}

.tiles article.event-box h3 {
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin: 0 0.25rem 0.3rem 1.25rem;
}

.tiles article.event-box h2::first-letter,
.tiles article.event-box h3::first-letter {
    text-transform: uppercase;
}

.tiles article.event-box p {
    font-size: 0.7rem;
    line-height: 1.1rem;
    margin: 0 1rem 0 1.25rem;
    opacity: 0;
    transition: opacity 0.5s ease;
    overflow: hidden;
}

.tiles article.event-box:hover p {
    opacity: 1;
}

.tiles article.event-box:hover {
    transform: scale(1.1);
}