.recent_section {
    margin: 1rem 0 1rem 0;
}

.recent_section .recent_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recent_head h2 {
    margin-bottom: 0.5rem;
}

.recent_section .recent_description {
    max-width: 70%;
    margin: 0 0 1rem 0;
}