table {
    width: 100%;
}

table tbody tr {
    border: solid 1px #c9c9c9;
    border-left: 0;
    border-right: 0;
}

table tbody tr:nth-child(2n + 1) {
    background-color: rgba(144, 144, 144, 0.075);
}

table td {
    padding: 0.75rem 0.75rem;
    vertical-align: middle;
}

table th {
    font-size: 1rem;
    font-weight: 900;
    padding: 1rem 0.75rem 0.75rem 0.75rem;
    text-align: left;
    vertical-align: middle;
}

#publications-table th:first-child,
#publications-table td:first-child {
    width: 10%;
}

#publications-table th:nth-child(2),
#publications-table td:nth-child(2) {
    width: 75%;
}

#publications-table th:last-child,
#publications-table td:last-child {
    width: 15%;
}

#teaching-table th:first-child,
#teaching-table td:first-child {
    width: 20%;
}

#teaching-table th:nth-child(2),
#teaching-table td:nth-child(2) {
    width: 20%;
}

#teaching-table th:last-child,
#teaching-table td:last-child {
    width: 60%;
}

table thead {
    border-bottom: solid 2px #c9c9c9;
}

table tfoot {
    border-top: solid 2px #c9c9c9;
}